@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f4c81;
  font-family: "Playwrite HU", sans-serif;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

header img {
  width: 3rem;
  height: 3rem;
}

header .pageTitle {
  width: 100%;
  color: white;
  text-align: center;
}

main {
  font-family: "Playwrite HU", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parametre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 90%;
}

.parametre div {
  width: 100%;
}

.parametre input {
  width: 90%;
}

.parametre .infoInput {
  font-weight: 700;
  font-size: larger;
  color: #0f4c81;
}

.ShortLong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: white;
  border: 2px solid #0f4c81;
  border-radius: 20px;
  padding: 0.5rem;
  width: 20vh;
  text-align: center;
  margin-top: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #0f4c81;
  color: white;
}

.btn--shortDist {
  border-radius: 20px 0 0 20px;
  border-right: none;
}

.btn--longDist {
  border-radius: 0 20px 20px 0;
}

.btn--active {
  background-color: #0f4c81;
  color: white;
}

.btn--active :hover {
  background-color: white;
  color: #0f4c81;
}

.results {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #0f4c81;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.results table td {
  padding: 5px;
  border: 1px dashed #0f4c81;
}

.results table th {
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  border-left: 1px dashed #3d91a6;
  background-color: #0f4c81;
  color: white;
}

.rotation {
  display: inline-block;
  -webkit-transform: rotateX(2turn);
          transform: rotateX(2turn);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
/*# sourceMappingURL=driveCoolStyle.css.map */